.myWork{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
  scroll-margin: 250px;
}

.title{
  display: flex;
  
  
}

.myWorkLinks{
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;
  
}
.myWorkItemImg{
  padding: 10px;
  width: 20vw;
  

}

.myWorkItem{
  width: auto;
display: flex;
flex-direction: column;
align-items: center;
  border: solid black 1px;
  
}