
.rightSide{
  
  max-width: 800px;
  width: 50vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
}


.content{
 
  display: flex;
  justify-content: center;
  
}

.cavanas img {
    max-width:100%;
    
   
    
}


