/* global */


html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

*,::after, ::before{
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.mainContainer{
  
  display: flex;
  width: 100vw;
  justify-content: center;
  padding-top: 25px;
}

section {
  height: 100vh;
}





